<?xml version="1.0" encoding="UTF-8"?>

<suite name="NopcommerceV1">

	<listeners>
		<listener class-name="com.nopcommerce.admin.utilities.Reporting" />
	</listeners>

	<test name="Nopcommerce Test">
		<parameter name="browser" value="chrome" />
		<!-- <parameter name="browser" value="firefox" /> -->
		<!-- <parameter name="browser" value="edge" /> -->
		<!-- <parameter name="browser" value="ie" /> -->
		<!-- <parameter name="browser" value="opera" /> -->
		<classes>
		   	
			<!--<class name="com.nopcommerce.admin.testCases.TC_LoginTest_001" />-->
			<class name="com.nopcommerce.admin.testCases.TC_ProductsTest_002" />
			
			
		</classes>

	</test>

</suite>